.nav-container {
    display: flex;
    justify-content: space-around;

}
.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    gap: 2rem;
    backdrop-filter: blur(10px);
}