.firstpages{
    display: flex;
    
    min-height: 400px;
    align-items: center;
    position: relative;
    color: white;
    padding-left: 10px;
    
}
.firstpage-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -2;
}